img.img-rendering-pixelated {
    image-rendering: pixelated;
}

$borders: (
    "start": "left",
    "end": "right",
    "top": "top",
    "bottom": "bottom",
);

@each $bs, $css in $borders {
    .border-#{$bs}-dashed {
        border-#{$css}-style: dashed !important;
    }
}

.bg-secondary-dark {
    background-color: $secondary-dark !important;
}
.bg-secondary-light {
    background-color: $secondary-light !important;
}

h1, h2, .navbar-brand, .font-special {
    font-family: $font-family-special;
}

.hover-light:hover {
    background-color: $secondary-light;
}
