@use 'sass:color';


$primary: #8D3693;
$secondary: #C2B280;
$secondary-dark: color.scale($secondary, $lightness: -15%);
$secondary-light: color.scale($secondary, $lightness: 15%);

$text-muted: #6d6b65;

$input-bg: $secondary-light;
$input-border-color: $secondary-dark;

$table-border-color: $secondary-light;

$pagination-bg: $secondary;
$pagination-border-color: $secondary-dark;
$pagination-disabled-bg: $secondary-light;
$pagination-disabled-border-color: $secondary-light;
$pagination-hover-bg: $secondary-light;
$pagination-hover-border-color: $secondary-light;

$font-family-special: Oxanium;


